body{
    background-color: black;
}

p{
    color: white;
}
h2{
    color: white;
}

p::before{
    content: "=> ";
}
button{
    padding: 16px;
    border-radius: 25px;
    position: relative;
    left: 50%;
}
